@page "/login"
@inject HttpClient Http
@using TrotIS.Shared
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                TrotIS logo
                @*<img src="https://res.cloudinary.com/mhmd/image/upload/v1571398888/Group_1514_tjekh3_zkts1c.svg" alt="logo" width="150">*@
            </a>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Log in !</h1>
        </div>

        <!-- Login Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <EditForm Model="@user" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@LoginUser">

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                            <i class="fa fa-envelope text-muted"></i>
                        </span>
                    </div>
                    <InputText Id="email" Class="form-control bg-white border-left-0 border-md" @bind-Value="@user.Email" placeholder="Email"></InputText>
                    @*<ValidationMessage For="@(() => user.Email)" />*@
                </div>
                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    <InputText type="password" placeholder="Password" Class="form-control" @bind-Value="@user.Password" />
                    @*<ValidationMessage For="@(() => user.Password)" />*@
                </div>
                <div class="alert @StatusClass">@StatusMessage</div>

                <DataAnnotationsValidator />
                <ValidationSummary />
                <button type="submit" class="btn btn-primary btn-block py-2">Login</button>
                <!-- Line -->
                <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                    <div class="border-bottom w-100 ml-5"></div>
                    @*<span class="px-2 small text-muted font-weight-bold text-muted">OR</span>*@
                    <div class="border-bottom w-100 mr-5"></div>
                </div>

                <!-- Already Registered -->
                <div class="text-center w-100">
                    <p class="text-muted font-weight-bold">Need an account?<a href="/register" class="text-primary ml-2">Register!</a></p>
                </div>
            </EditForm>
        </div>

    </div>
</div>




@code {
    private string apiUrl = "http://localhost:5003/login";

    private User user = new User();

    private string StatusMessage;
    private string StatusClass;
    private async void LoginUser()
    {
        //user.UserId = Guid.NewGuid();

        var result = await Http.PostAsJsonAsync(apiUrl, user);
        if (result.StatusCode.ToString() == "OK")
        {
            var content = await result.Content.ReadAsAsync<ResponseObject>();

            await sessionStorage.SetItemAsync("hash", content.Hash);
            await sessionStorage.SetItemAsync("firstname", content.FirstName);
            await sessionStorage.SetItemAsync("lastname", content.LastName);
            await sessionStorage.SetItemAsync("admin", content.IsAdmin);
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            ErrorEmailPassword();
        }
        //succesfully message or not

    }

    public class User
    {
        [Required]
        public string Email { get; set; }
        [Required]
        [StringLength(10, ErrorMessage = "Name is too long.")]
        public string Password { get; set; }
    }

    public class ResponseObject
    {
        public string Hash { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public bool IsAdmin { get; set; }
    }


    protected void HandleValidSubmit()
    {
        StatusClass = "alert-info";
        StatusMessage = DateTime.Now + " Handle valid submit";
    }

    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        StatusMessage = DateTime.Now + " Handle invalid submit";
    }
    protected void ErrorEmailPassword()
    {
        StatusClass = "alert-danger";
        StatusMessage = "Email and password doesnt match";
    }
}